:root > * {
  --md-primary-fg-color: #0092d2;
}

table.cadwork-compatibility {
    margin-bottom: 1em;
    text-align: left;
    border-collapse: collapse;
}

table.cadwork-compatibility th {
    padding-bottom: 6px;
    font-weight: bold;
}

table.cadwork-compatibility td {
    padding-right: 12px;
    font-size: 90%;
}
